# Keil Clean
*.rar
*.o
*.hex
*.axf
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
 
RTE/
Templates/
Examples/
 
!*.uvprojx
!*.h
!*.c
!*.s
!*.ioc

nul

#JLINK file
JLinkLog.txt
*.dbgconf

#Tool File
*.bat
*.lnk
